

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/11/2018, 20:32:58
    Author     : Lucas
*/

/*general configs*/
.loader{
    max-width: 1920px;
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
    height: 800px;
    position: absolute;
    z-index: 1000;
    
    
}

.navbar-brand:hover{
    color: #fff !important
}


.hidden{
    display: none;
}

.main-search:focus{
    border: none;
    width: 300px;

}


.hidden-transition{
    display: none;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}
.rating p{
    font-size: 10px;
    padding: 0;
    margin: 0
}
.img-fluid{
    width: 100%
}
.rating-checked{
    color: yellow
}
.carousel-upcoming{
    margin-top: 40px
}

.load-ajax-icon{
    text-align: center;
}
.load-ajax-icon img{
    width: 80px;
}


/*review box*/
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;

}
.commentName {

    font-weight: 800;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

/*menu*/
.menu{
    background-color: rgba(3, 0, 0, 0.3);


}



/*basic configs */
html {
    touch-action: manipulation;
}
.tag{
    margin-bottom: 10px;
    margin-right: 10px
}

.movie-container{
    max-width: 1400px !important;
    margin-top: 30px;
}

.shadow h2{
    text-shadow: 2px 2px #000
}

.shadow h5{
    text-shadow: 1px 1px #000
}



.menu  a{
    color: #ffffff;
}

a{
    text-decoration: none;
    color: inherit
    
}
a:hover{
    text-decoration: none;
    color: inherit
    
}

/*video responsive*/
.videoWrapper {
    position: relative;
    padding-bottom: 45.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 640px;
    max-height: 360px;
    width: 100%;
    height: 100%;
}

/*search response */

.response-movies{
    text-align: center
}
.search-response{
    padding: 20px;
}
.response-cell {
    /*width: 15%;*/  
    height: auto;
    display: inline-block;
    /*height: 370px;*/
    /*margin-right: 10px;*/
    padding-bottom: 10px;
    background-size: cover; 
    background-repeat: no-repeat;

}

/*main carousel*/
.carousel-cell :hover{
    cursor: pointer

}
.main-carousel{
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.carousel-cell {
    width: 18%;  
    height: 370px;
    margin-right: 10px;
    background-size: cover; 
    background-repeat: no-repeat;

}
.carousel-item{
    background-position: inherit !important;
    touch-action: pan-y pan-x pinch-zoom;


}
.carousel-label{
    margin-left: 15px;
    /*color: #fff;*/
}

.carousel-transparency{
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: black;
    position: absolute

}

.carousel-transparency > .carousel-info{
    color: #fff;
    position: relative;
    display: none;
    height: 100%;
    padding: 10px;
}
.carousel-info span{
    font-size: 0.8em
}

/*details*/

.details-title{
    font-weight: 800;
}

.detailBox {
    /*width:320px;*/
    border:1px solid #bbb;

    font-family: 'Open Sans', sans-serif;
}

.detail-button{
    margin-top: 10px
}



/*media queries*/

@media only screen and (max-width: 400px) {

    .carousel-item{
        background-size: cover !important;
        min-height: 560px !important;
    }
    .carousel-content{
        padding-left: 15px;
        padding-right: 15px
    }

}

@media only screen and (max-width: 330px) {

    .carousel-item{
        background-size: cover !important;
        min-height: 500px !important;
    }
    .carousel-content{
        padding-left: 15px;
        padding-right: 15px
    }
    .response-cell {
        width: 50%;
    }
    

}

@media only screen and (max-width: 390px) {

    .response-cell {
        width: 49%;
    }
    .main-search:focus{
        border: none;
        width: 150px;

    }

}
@media   (min-width: 760px) and (max-width: 800px) {

    .carousel-item{
        background-size: cover !important;
        min-height: 600px !important;
    }


}

@media only screen and (min-height: 900px) {

    .carousel-item{
        background-size: cover !important;
        min-height: 800px !important;
    }


}


/*transition*/

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
