

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/11/2018, 20:32:58
    Author     : Lucas
*/


.loader{
    max-width: 1920px;
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
    height: 800px;
    position: absolute;
    z-index: 1000;
    
    
}


.hidden{
    display: none;
}

.main-search:focus{
    border: none;
    width: 300px;

}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.hidden-transition{
    display: none;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}
.rating p{
    font-size: 10px;
    padding: 0;
    margin: 0
}
.img-fluid{
    width: 100%
}
.rating-checked{
    color: yellow
}

.detailBox {
    /*width:320px;*/
    border:1px solid #bbb;

    font-family: 'Open Sans', sans-serif;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;

}
.commentName {

    font-weight: 800;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
.menu{
    background-color: rgba(3, 0, 0, 0.3);


}
.tag{
    margin-bottom: 10px;
}

.movie-container{
    max-width: 1400px !important;
    margin-top: 30px;
}

.carousel-label{
    margin-left: 15px;
    /*color: #fff;*/


}
.details-title{
    font-weight: 800;
}
.carousel-transparency{
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: black;
    position: absolute

}

.carousel-transparency > .carousel-info{
    color: #fff;
    position: relative;
    display: none;
    height: 100%;
    padding: 10px;
}
.carousel-info span{
    font-size: 0.8em
}


html {
    touch-action: manipulation;
}

.card{
    color: #000;
}

/*body{
    color: #fff;
     Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#191818+0,494949+36,777777+62,b7b7b7+100 
    background: #191818;  Old browsers 
    background: -moz-linear-gradient(top, #191818 0%, #494949 36%, #777777 62%, #b7b7b7 100%);  FF3.6-15 
    background: -webkit-linear-gradient(top, #191818 0%,#494949 36%,#777777 62%,#b7b7b7 100%);  Chrome10-25,Safari5.1-6 
    background: linear-gradient(to bottom, #191818 0%,#494949 36%,#777777 62%,#b7b7b7 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191818', endColorstr='#b7b7b7',GradientType=0 );  IE6-9 
}*/
.shadow h2{
    text-shadow: 2px 2px #000
}

.shadow h5{
    text-shadow: 1px 1px #000
}
.carousel-item{
    background-position: inherit !important;
    touch-action: pan-y pan-x pinch-zoom;


}

.menu  a{
    color: #ffffff;
}

.videoWrapper {
    position: relative;
    padding-bottom: 45.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 640px;
    max-height: 360px;
    width: 100%;
    height: 100%;
}
.carousel-cell {
    width: 18%;  
    height: 370px;
    margin-right: 10px;
    background-size: cover; 
    background-repeat: no-repeat;

}

.search-response{
    padding: 20px;
}
.response-cell {
    /*width: 15%;*/  
    height: auto;
    display: inline-block;
    /*height: 370px;*/
    margin-right: 10px;
    padding-bottom: 10px;
    background-size: cover; 
    background-repeat: no-repeat;

}
.carousel-cell :hover{
    cursor: pointer

}
.main-carousel{
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.detail-button{
    margin-top: 10px
}
@media only screen and (max-width: 400px) {

    .carousel-item{
        background-size: cover !important;
        min-height: 560px !important;
    }
    .carousel-content{
        padding-left: 15px;
        padding-right: 15px
    }

}

@media only screen and (max-width: 330px) {

    .carousel-item{
        background-size: cover !important;
        min-height: 500px !important;
    }
    .carousel-content{
        padding-left: 15px;
        padding-right: 15px
    }

}
@media   (min-width: 760px) and (max-width: 800px) {

    .carousel-item{
        background-size: cover !important;
        min-height: 600px !important;
    }


}

@media only screen and (min-height: 900px) {

    .carousel-item{
        background-size: cover !important;
        min-height: 800px !important;
    }


}


